# ── MedAI Pro — FastAPI Config ─────────────────────────────────
# இந்த file-ஐ .env என்று rename பண்ணுங்க

# MySQL
DB_HOST=localhost
DB_PORT=3306
DB_USER=root
DB_PASSWORD=HEma@501
DB_NAME=medai_pro1

# JWT
JWT_SECRET=medai_fastapi_secret_key_change_this
JWT_ALGORITHM=HS256
JWT_EXPIRE_HOURS=8

# Server
PORT=8000
